flows.json
[
    {
        "id": "84a1a3d806bd7fe0",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "bc1e134d11102e58",
        "type": "modbus-client",
        "name": "USB-SERIAL",
        "clienttype": "serial",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "127.0.0.1",
        "tcpPort": "502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB0",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "115200",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": "1",
        "commandDelay": "1",
        "clientTimeout": "1000",
        "reconnectOnTimeout": true,
        "reconnectTimeout": "2000",
        "parallelUnitIdsAllowed": true,
        "showWarnings": true,
        "showLogs": true
    },
    {
        "id": "ed0368e98cc467de",
        "type": "ui_tab",
        "name": "Visualizar Datos",
        "icon": "leaf",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "6ac2b3d1e70a9d0d",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "c371dadc8bcf8e88",
        "type": "ui_group",
        "name": "Default",
        "tab": "ed0368e98cc467de",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "eefe72d8de19af9f",
        "type": "function",
        "z": "84a1a3d806bd7fe0",
        "name": "ModbusDecoder",
        "func": "function readInt16x100(value) {\n    if (value > 32767) {\n        value = value - 65536;\n    }\n\n    return value / 100.0;\n}\n\nfunction readUint16x100(value) {\n    return value / 100.0;\n}\n\n\nfunction readUint32(MSR, LSR) {\n    return (MSR << 16) + LSR;\n}\n\nfunction readInt32(MSR, LSR) {\n    var value = (MSR << 16) + LSR;\n\n    if (value > 2147483647) {\n        value = value - 4294967296;\n    }\n\n    return value;\n}\n\nvar buffer = msg.payload.data;\n\n//Buffer has 20 bytes, representing the following:\n\n/*\ntypedef struct\n{\n    uint32_t timestamp;           //!< Timestamp of the system. 1 second resolution.\n    int16_t TempSustrato1;        //!< Temperature of the substrate 1. 0.01 degree resolution. (Register is multiplied by 100)\n    int16_t HumSustrato1;         //!< Humidity of the substrate 1. 0.01 % resolution. (Register is multiplied by 100)\n    int16_t TempAmbiente1;        //!< Temperature of the environment 1. 0.01 degree resolution. (Register is multiplied by 100)\n    int16_t HumAmbiente1;         //!< Humidity of the environment 1. 0.01 % resolution. (Register is multiplied by 100)\n    int16_t HumFol1;              //!< Humidity of the leaf 1. 0.01 % resolution. (Register is multiplied by 100)\n    int16_t TempSustrato2;        //!< Temperature of the substrate 2. 0.01 degree resolution. (Register is multiplied by 100)\n    int16_t HumSustrato2;         //!< Humidity of the substrate 2. 0.01 % resolution. (Register is multiplied by 100)\n    int16_t TempAmbiente2;        //!< Temperature of the environment 2. 0.01 degree resolution. (Register is multiplied by 100)\n    int16_t HumAmbiente2;         //!< Humidity of the environment 2. 0.01 % resolution. (Register is multiplied by 100)\n    int16_t HumFol2;              //!< Humidity of the leaf 2. 0.01 % resolution. (Register is multiplied by 100)\n    int16_t TempExterior;         //!< Temperature of the exterior. 0.01 degree resolution. (Register is multiplied by 100)\n    int16_t HumExterior;          //!< Humidity of the exterior. 0.01 % resolution. (Register is multiplied by 100)\n    uint16_t LuzExterior;         //!< Light of the exterior. 0.1 W/M2 resolution. (Register is multiplied by 10)\n    int16_t TempAgua;             //!< Temperature of the water. 0.01 degree resolution. (Register is multiplied by 100)\n    int16_t NivelAgua;            //!< Level of the water. 0.01 % resolution. (Register is multiplied by 100)\n    uint16_t PotenciaConsumida;   //!< Power consumed. 1 W resolution.\n    uint16_t Corriente_Consumida; //!< Current consumed. 0.1 A resolution. (Register is multiplied by 10)\n    uint16_t VoltajeConsumido;    //!< Voltage consumed. 0.1 V resolution. (Register is multiplied by 10)\n} holding_reg_params_t;\n*/\n\n//Read data and store into a new object json-like\n\nvar data = [\n    { topic: \"Timestamp\", payload: readUint32(buffer[0], buffer[1])},\n    { topic: \"TempSustrato1\", payload: readInt16x100(readUint16x100(buffer[2]))},\n    { topic: \"HumSustrato1\", payload: readInt16x100(readUint16x100(buffer[3]))},\n    { topic: \"TempAmbiente1\", payload: readInt16x100(readUint16x100(buffer[4]))},\n    { topic: \"HumAmbiente1\", payload: readInt16x100(readUint16x100(buffer[5]))},\n    { topic: \"HumFol1\", payload: readInt16x100(readUint16x100(buffer[6]))},\n    { topic: \"TempSustrato2\", payload: readInt16x100(readUint16x100(buffer[7]))},\n    { topic: \"HumSustrato2\", payload: readInt16x100(readUint16x100(buffer[8]))},\n    { topic: \"TempAmbiente2\", payload: readInt16x100(readUint16x100(buffer[9]))},\n    { topic: \"HumAmbiente2\", payload: readInt16x100(readUint16x100(buffer[10]))},\n    { topic: \"HumFol2\", payload: readInt16x100(readUint16x100(buffer[11]))},\n    { topic: \"TempExterior\", payload: readInt16x100(readUint16x100(buffer[12]))},\n    { topic: \"HumExterior\", payload: readInt16x100(readUint16x100(buffer[13]))},\n    { topic: \"LuzExterior\", payload: readUint16x100(buffer[14]) * 10},\n    { topic: \"TempAgua\", payload: readInt16x100(readUint16x100(buffer[15]))},\n    { topic: \"NivelAgua\", payload: readInt16x100(readUint16x100(buffer[16]))},\n    { topic: \"PotenciaConsumida\", payload: buffer[17]},\n    { topic: \"Corriente_Consumida\", payload: readUint16x100(buffer[18]) * 10},\n    { topic: \"VoltajeConsumido\", payload: readUint16x100(buffer[19]) * 10},\n];\n\nreturn [data[0], data[1], data[2], data[3], data[4], data[5], data[6], data[7], data[8], data[9], data[10], data[11], data[12], data[13], data[14], data[15], data[16], data[17], data[18]];",
        "outputs": 19,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 300,
        "wires": [
            [
                "acc256c200ebe09b"
            ],
            [
                "501daf8cb1689031"
            ],
            [
                "e506e5a3c125556f"
            ],
            [
                "c814f83a6d5ba4a0"
            ],
            [
                "9c4d44102eafc76d"
            ],
            [
                "73d450825d8c68b2"
            ],
            [
                "501daf8cb1689031"
            ],
            [
                "e506e5a3c125556f"
            ],
            [
                "c814f83a6d5ba4a0"
            ],
            [
                "9c4d44102eafc76d"
            ],
            [
                "73d450825d8c68b2"
            ],
            [
                "c814f83a6d5ba4a0"
            ],
            [
                "9c4d44102eafc76d"
            ],
            [
                "c5353f2ff03a99fc"
            ],
            [
                "c814f83a6d5ba4a0"
            ],
            [
                "237130adae08f666"
            ],
            [
                "54a7d988b388d7fd"
            ],
            [
                "274ba354eda38b20"
            ],
            [
                "a5100213482133eb"
            ]
        ],
        "inputLabels": [
            "ModbusData"
        ],
        "outputLabels": [
            "Timestamp",
            "TempSustrato1",
            "HumSustrato1",
            "TempAmbiente1",
            "HumAmbiente1",
            "HumFol1",
            "TempSustrato2",
            "HumSustrato2",
            "TempAmbiente2",
            "HumAmbiente2",
            "HumFol2",
            "TempExterior",
            "HumExterior",
            "LuzExterior",
            "TempAgua",
            "NivelAgua",
            "PotenciaConsumida",
            "CorrienteConsumida",
            "VoltajeConsumido"
        ]
    },
    {
        "id": "5fe32c791b57a02d",
        "type": "modbus-read",
        "z": "84a1a3d806bd7fe0",
        "name": "",
        "topic": "",
        "showStatusActivities": true,
        "logIOActivities": false,
        "showErrors": true,
        "showWarnings": true,
        "unitid": "",
        "dataType": "HoldingRegister",
        "adr": "0",
        "quantity": "20",
        "rate": "5",
        "rateUnit": "m",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "bc1e134d11102e58",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 310,
        "y": 300,
        "wires": [
            [],
            [
                "eefe72d8de19af9f"
            ]
        ]
    },
    {
        "id": "501daf8cb1689031",
        "type": "ui_chart",
        "z": "84a1a3d806bd7fe0",
        "name": "",
        "group": "c371dadc8bcf8e88",
        "order": 0,
        "width": "0",
        "height": "0",
        "label": "Temperaturas de Sustrato ºC",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 940,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "e506e5a3c125556f",
        "type": "ui_chart",
        "z": "84a1a3d806bd7fe0",
        "name": "",
        "group": "c371dadc8bcf8e88",
        "order": 0,
        "width": "0",
        "height": "0",
        "label": "Humedades de Sustrato %HR",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 950,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "73d450825d8c68b2",
        "type": "ui_chart",
        "z": "84a1a3d806bd7fe0",
        "name": "",
        "group": "c371dadc8bcf8e88",
        "order": 0,
        "width": "0",
        "height": "0",
        "label": "Humedades de Foliage %HR",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 940,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "c814f83a6d5ba4a0",
        "type": "ui_chart",
        "z": "84a1a3d806bd7fe0",
        "name": "",
        "group": "c371dadc8bcf8e88",
        "order": 0,
        "width": "0",
        "height": "0",
        "label": "Temperatura ºC",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 900,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "9c4d44102eafc76d",
        "type": "ui_chart",
        "z": "84a1a3d806bd7fe0",
        "name": "",
        "group": "c371dadc8bcf8e88",
        "order": 0,
        "width": "0",
        "height": "0",
        "label": "Humedad %HR",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 900,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "237130adae08f666",
        "type": "ui_chart",
        "z": "84a1a3d806bd7fe0",
        "name": "",
        "group": "c371dadc8bcf8e88",
        "order": 0,
        "width": "0",
        "height": "0",
        "label": "Nivel de Agua %",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 900,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "c5353f2ff03a99fc",
        "type": "ui_chart",
        "z": "84a1a3d806bd7fe0",
        "name": "",
        "group": "c371dadc8bcf8e88",
        "order": 0,
        "width": "0",
        "height": "0",
        "label": "Radiación Solar W/m^2",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 930,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "274ba354eda38b20",
        "type": "ui_chart",
        "z": "84a1a3d806bd7fe0",
        "name": "",
        "group": "c371dadc8bcf8e88",
        "order": 0,
        "width": "0",
        "height": "0",
        "label": "Corriente A",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 890,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "a5100213482133eb",
        "type": "ui_chart",
        "z": "84a1a3d806bd7fe0",
        "name": "",
        "group": "c371dadc8bcf8e88",
        "order": 0,
        "width": "0",
        "height": "0",
        "label": "Voltaje V",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 880,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "54a7d988b388d7fd",
        "type": "ui_chart",
        "z": "84a1a3d806bd7fe0",
        "name": "",
        "group": "c371dadc8bcf8e88",
        "order": 0,
        "width": "0",
        "height": "0",
        "label": "Potencia W",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 890,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "acc256c200ebe09b",
        "type": "ui_text",
        "z": "84a1a3d806bd7fe0",
        "group": "c371dadc8bcf8e88",
        "order": 10,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Timestamp Ultima Muestra: ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 940,
        "y": 100,
        "wires": []
    }
]